<!-- hw/templates/hw/about.html-->
 
{% extends 'hw/base.html' %}

        {% block content %}
        <h1>About this page!</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus fugiat, quidem ratione perferendis est iste nemo expedita distinctio voluptatem eveniet vero suscipit minima quo earum veniam illum dolorem voluptatum beatae.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est fuga optio incidunt, consequuntur assumenda praesentium cum officia rem eum harum numquam deleniti inventore laboriosam sunt molestias natus veritatis debitis sapiente.
            </p>
        {% endblock %}