<!-- restaurant/templates/restaurant/base.html -->
<!-- file: base.html -->
<!-- author: Tae Yeung Kim (kimty@bu.edu), 09/23/2026 -->
<!-- description: base html for the overall structure of the templates -->

 {% load static %}

 <html>
    <head>
        <title>Chicha San Chen Tea Shop</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <nav>
            <li><a href="{% url 'main' %}">Main Page</a></li>
            <li><a href="{% url 'order' %}">Order Here</a></li>
        </nav>
        <!-- page specific contents go here -->
        {% block content %}
        {% endblock %}
        <footer>
            <p>CS412 Assignment 2 Tae Yeung Kim</p>
        </footer>
    </body>
 </html>
