<!-- restaurant/templates/restaurant/main.html -->
<!-- file: main.html -->
<!-- author: Tae Yeung Kim (kimty@bu.edu), 09/23/2026 -->
<!-- description: main html for the main page of the website -->

{% extends 'restaurant/base.html' %}

{% block content %}
<h1>Welcome to Chicha San Chen Tea Shop!</h1>
<img src="{{ image }}" alt="Chicha San Chen logo">
<h2>Location</h2>
<p>
    100 Tea Street<br>
    Boston, MA, 02215
</p>
<h2>Hours of Operation</h2>
<table>
    <tr>
        <th>Day</th>
        <th>Hours</th>
    </tr>
    <tr>
        <td>Monday - Sunday</td>
        <td>11:00 AM - 8:00 PM</td>
    </tr>
</table>
{% endblock %}
