<!-- quotes/templates/quotes/about.html -->

{% extends 'quotes/base.html' %}

{% block content %}
<h1>About Charles Darwin</h1>
<p>
    Charles Darwin (1809-1882) was an English biologist and naturalist
    best known for developing the theory of evolution by natural selection.
    His famous book <em>On the Origin of Species</em>, was published in 1859.
</p>
<h1>About this homepage</h1>
<p>
    This homepage was developed by Tae Yeung Kim for Assignment 1 for CS412 at Boston University.
    This Django web application displays random quotes and images from Charles Darwin.
</p>
{% endblock %}