<!-- mini_insta/templates/mini_insta/show_profile.html -->
<!-- file: show_profile.html -->
<!-- author: Tae Yeung Kim (kimty@bu.edu), 10/01/2026 -->
<!-- description: list single selected profile -->

{% extends 'mini_insta/base.html' %}

{% block content %}
<h1 class="profile-username">@{{ profile.username }}</h1>

<main class="profile">
    <h2>{{ profile.display_name }}</h2>

    <div class="profile-info">
        <img class="profile-picture"
            src="{{ profile.profile_image_url }}"
            alt="{{ profile.display_name }}"
        >
        
        <div class="stats">
            <div class="stat">
                <strong>TBD</strong>
                <p>posts</p>
            </div>

            <div class="stat">
                <strong>TBD</strong>
                <p>followers</p>
            </div>

            <div class="stat">
                <strong>TBD</strong>
                <p>following</p>
            </div>
        </div>
    </div>

    <div class="bio">
        <p>{{ profile.bio_text }}</p>
    </div>

    <div class="posts">
        <h2>Posts</h2>
        <div class="posts-grid">
            {% for post in profile.get_all_posts %}
                <div class="post">
                    <a href="{% url 'show_post' post.pk %}">
                        {% if post.get_all_photos %}
                            <img src="{{ post.get_all_photos.first.get_image_url }}" alt="{{ post.caption }}">
                        {% else %}
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGIPsaM2kE0VHTFdEAdWEut7ssmNHGXJpz_2cNxCISBg&s=10" alt="No image">
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
