<!-- mini_insta/templates/mini_insta/show_all_profiles.html -->
<!-- file: show_all_profiles.html -->
<!-- author: Tae Yeung Kim (kimty@bu.edu), 09/26/2026 -->
<!-- description: list all the profiles -->

{% extends 'mini_insta/base.html' %}

{% block content %}
<h1 class="page-title">Showing All Profiles</h1>

<main class="grid-container">

    {% for profile in profiles %}
        <div class="profile-card">
            <img src="{{ profile.profile_image_url }}" alt="{{ profile.display_name }}">
            <h2>{{ profile.display_name }}</h2>
            <p>@{{ profile.username }}</p>
        </div>
    {% endfor %}
    
</main>
{% endblock %}
